.sheet {
  overflow: hidden;
}

ul {
  list-style: none;
}

.treble, .bass {
  z-index: 1;
  border-bottom: 0.15rem solid black;
  width: 20rem;
  margin-bottom: 1rem;
}

#trebleStaff{
  float: left;
  position: relative;
}

#bassStaff{
  float: left;
  position: relative;
}

#trebleSymbol {
  z-index: 2;
  height: 7rem;
  margin: 0 0 0 -19rem;
  position: relative;
  float: left;
}

#bassSymbol {
  z-index: 2;
  height: 4rem;
  margin: 1rem 0 0 -19rem;
  position: relative;
  float:left;
}

#top {
  float: none;
  position: absolute;
  margin-top:2rem;
}

#bottom {
  float: left;
  position: relative;
  margin-top: 8.6rem;
  margin-bottom: 2rem;
}

.note {
  float: left;
  position:relative;
}

.annotation {
  font-size:1rem;
  line-height: 13.2pt;
  float:none;
  position:relative;
}

.hide{
  display: none;
}
